@model CORE.BackOffice.UI.ViewModels.Relation.Filter.ExtratoAplicacaoFinanceiraViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administração - Gestão";
}

<style>
    .ui-datepicker {
        z-index: 999999999 !important;
    }
</style>

<script src="~/Scripts/pnotify.js"></script>

<div class="panel-body">
    <div id="divViewSearch" class="admin-form theme-info tab-pane">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title fa fa-search">
                    Extrato Aplicação Financeira
                </span>
            </div>

            <div class="panel-body admin-form theme-info tab-pane">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(model => model.TYPE_EXPORT)

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">

                            @Html.LabelFor(model => model.TipoProduto, new { @Class = "control-label col-sm-1 col-md-1" })
                            <div class="col-sm-3 col-md-3">
                                @Html.DropDownListFor(model => model.IdProduto, Model.TipoProduto, new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(model => model.DtInicio, new { @Class = "control-label col-sm-2 col-md-2" })
                            <div class="col-sm-2 col-md-2">
                                @Html.TextBoxFor(model => model.DtInicio, new { @class = "form-control fieldDate" })
                            </div>

                            @Html.LabelFor(model => model.DtFim, new { @Class = "control-label col-sm-2 col-md-2" })
                            <div class="col-sm-2 col-md-2">
                                @Html.TextBoxFor(model => model.DtFim, new { @class = "form-control fieldDate" })
                            </div>

                            <div class="col-sm-3 col-md-3">
                                <div style="width: 100px!important; float: left; padding: 20px 0;">
                                    <input type="button" value="Pesquisar" id="btnSubmit" onclick="" class="btn btn-default" />
                                </div>
                            </div>
                        </div>

                    </div>

                    @*@Html.Partial("~/Views/Shared/_ButtonsSearchCreate.cshtml")*@

                }

                @*Resultado da pesquisa*@
                <div class="form-group">
                    <div class="col-sm-12 col-md-12">
                        <div id="divList">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="divViewCreate" class="admin-form theme-info tab-pane" style="display:none">


    </div>

    <div id="divViewEdit" class="admin-form theme-info tab-pane" style="display:none">


    </div>

</div>
<div class="modal fade" tabindex='-1' data-backdrop="static" data-keyboard="true" id="myModal" role="dialog">
    <div class="modal-dialog" style="width: 800px!important;">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $('#btnSubmit').click(function () {
            Submit();
        });

    });

    function Submit() {

        var dataObject = JSON.stringify({
            'IdProduto': $("#@Html.IdFor(model => model.IdProduto)").val(),
            'DtInicio': $("#@Html.IdFor(model => model.DtInicio)").val(),
            'DtFim': $("#@Html.IdFor(model => model.DtFim)").val()
        });

        $.ajax({
            url: '@Url.Action("ExtratoAplicacaoFinanceira")',
            type: 'POST',
            contentType: 'application/json',
            data: dataObject,
            success: function (data) {
                $('#divList').html(data);
            },
            error: function (data) {
                alert("Error Submit");
            }
        });

    }

</script>
