@model CORE.BackOffice.UI.ViewModels.Product.ProductViewModel

@{
    Layout = null;
    ViewBag.Title = "Administração - Produto";
}

<style>
    .field-validation-error {
        color: red !Important;
    }
</style>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div class="panel">
    <div class="panel-heading">
        <span class="panel-title fa fa-edit">
            Alterar Produto
        </span>
    </div>



    @using (Ajax.BeginForm("Edit", "Product", new AjaxOptions { OnBegin = "StartProgress", HttpMethod = "POST", OnSuccess = "TrataRetorno", OnFailure = "TrataRetorno" }))
    {
        @Html.HiddenFor(model => model.IdProduct)

        <div class="panel-body admin-form theme-info tab-pane">
            <div class="section row">
                <div class="col-lg-12 col-md-12 col-ssm-12">
                    @Html.ValidationSummary(true, string.Empty, new { @class = "alert alert-danger", Id = "errosDefinirMedico", @style = "display: none;" })
                    <div class="alert alert-danger" style="display: none" id="errorMessage">
                    </div>
                    <div>
                        <p class="alert alert-success" style="display: none" id="okMessage"></p>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @Class = "control-label col-sm-1 col-md-1" })
                    <div class="col-sm-5 col-md-5">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>  
                    
                    @Html.LabelFor(model => model.NameProductType, new { @Class = "control-label col-sm-1 col-md-1" })
                    <div class="col-sm-5 col-md-5">
                        @Html.DropDownListFor(model => model.IdProductType, Model.ProductType, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdProductType)
                     </div>                 
                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.NameCustomer, new { @Class = "control-label col-sm-1 col-md-1" })
                    <div class="col-sm-5 col-md-5">
                        @Html.DropDownListFor(model => model.IdCustomer, Model.Customer, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdCustomer, string.Empty, new { @class = "state-error" })
                    </div>

                    @Html.LabelFor(model => model.Descricao, new { @Class = "control-label col-sm-1 col-md-1" })
                    <div class="col-sm-5 col-md-5">
                        @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Descricao)
                    </div>

                </div>

                <div class="form-group">
                    <div class="form-group">

                        <div class="col-sm-6 col-md-6">

                            <div class="option-group field section">
                                <div class="col-sm-3 col-md-3">
                                    <label class="option block mt10" for="USER_ACTIVE">
                                        <input name="FL_ACTIVE" id="USER_ACTIVE" type="radio" @(Model.FL_ACTIVE == true ? "checked=''" : "") value="true">
                                        <span class="radio"></span>Ativo
                                    </label>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <label class="option block mt10" for="USER_INACTIVE">
                                        <input name="FL_ACTIVE" id="USER_INACTIVE" type="radio" @(Model.FL_ACTIVE == false ? "checked=''" : "") value="false">
                                        <span class="radio"></span>Inativo
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                @if (Model.Cpu != null && Model.Cpu.Count() > 0)
                {
                    Html.RenderPartial("~/Views/Computer/_ListComputerForProduct.cshtml", Model.Cpu);
                }

                @Html.Partial("~/Views/Shared/_ButtonsModal.cshtml")

            </div>
        </div>
    }

</div>


@Scripts.Render("~/bundles/inputmask")
@Scripts.Render("~/bundles/jqueryUI-datetimepicker")

<script>
    
    $(document).ready(function () {
        
    });

</script>

@section Scripts {

}
