@model CORE.BackOffice.UI.ViewModels.Form.FormFilterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administração - Gestão";
    ViewBag.btnCreate = false;
}

<style>
    .ui-datepicker {
        z-index: 999999999 !important;
    }
</style>

<script src="~/Scripts/pnotify.js"></script>

<div class="panel-body">
    <div id="divViewSearch" class="admin-form theme-info tab-pane">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title fa fa-search">
                    Tela
                </span>
            </div>

            <div class="panel-body admin-form theme-info tab-pane">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(model => model.TYPE_EXPORT)

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-7 col-md-7">
                                @Html.LabelFor(model => model.NAME_FORM, new { @Class = "control-label" })
                                @Html.TextBoxFor(model => model.NAME_FORM, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @Html.Partial("~/Views/Shared/_ButtonsSearchCreate.cshtml")
                    </div>
                }
                <div class="row">
                    @*Resultado da pesquisa*@
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <div id="divList">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divViewCreate" class="admin-form theme-info tab-pane" style="display:none">


    </div>

    <div id="divViewEdit" class="admin-form theme-info tab-pane" style="display:none">


    </div>

</div>
<div class="modal fade" tabindex='-1' data-backdrop="static" data-keyboard="true" id="myModal" role="dialog">
    <div class="modal-dialog" style="width: 800px!important;">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $('#btnSubmit').click(function () {
            Submit();
        });


        $('#btnCreate').click(function () {
            ShowViewCreate();
        });

    });

    function ShowViewCreate() {

        $.ajax({
            url: '@Url.Action("Create")',
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {

                $('#divViewCreate').html(data);
                changeView('ShowViewCreate');

            },
            error: function (data) {
                alert("Error Submit");
            }
        });

    }

    function ShowViewEdit(id) {

        $.ajax({
            url: '@Url.Action("Edit")?Id=' + id,
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {

                $('#divViewEdit').html(data);
                changeView('ShowViewEdit');

            },
            error: function (data) {
                alert("Error Submit");
            }
        });

    }

    function Submit() {

        var dataObject = JSON.stringify({
            'NAME_FORM': $("#@Html.IdFor(model => model.NAME_FORM)").val()
        });

        $.ajax({
            url: '@Url.Action("Index")',
            type: 'POST',
            contentType: 'application/json',
            data: dataObject,
            success: function (data) {
                $('#divList').html(data);
            },
            error: function (data) {
                alert("Error Submit");
            }
        });

    }

</script>
