@model CORE.BackOffice.UI.ViewModels.Configuration.ConfigurationViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administração - Perfil";
}

<style>
    .field-validation-error {
        color: red !Important;
    }
</style>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/pnotify.js"></script>

<div class="panel-body">
    <div id="divViewSearch" class="admin-form theme-info tab-pane">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title fa fa-edit">
                    Alterar Site
                </span>
            </div>
            
            @using (Ajax.BeginForm("Edit", "Configuration", new AjaxOptions { OnBegin = "StartProgress", HttpMethod = "POST", OnSuccess = "TrataRetornoFinish", OnFailure = "TrataRetornoFinish" }))
            {
                @Html.HiddenFor(model => model.ID_CONFIGURATION_SYSTEM)

                <div class="panel-body admin-form theme-success bg-light panel-success tab-pane">
                    <div class="section row">
                        <div class="col-lg-12 col-md-12 col-ssm-12">
                            @Html.ValidationSummary(true, string.Empty, new { @class = "alert alert-danger", Id = "errosDefinirMedico", @style = "display: none;" })
                            <div class="alert alert-danger" style="display: none" id="errorMessage">
                            </div>
                            <div>
                                <p class="alert alert-success" style="display: none" id="okMessage"></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal">

                        <div class="form-group">
                            @Html.LabelFor(model => model.NAME_SYSTEM, new { @Class = "control-label col-sm-1 col-md-1" })
                            <div class="col-sm-5 col-md-5">
                                @Html.TextBoxFor(model => model.NAME_SYSTEM, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NAME_SYSTEM)
                            </div>

                            @Html.LabelFor(model => model.COLOR_SYSTEM, new { @Class = "control-label col-sm-1 col-md-1" })
                            <div class="col-sm-5 col-md-5">
                                <div id="colorSelector">
                                   @Html.TextBoxFor(model => model.COLOR_SYSTEM, new { @class = "colorSelector form-control" })
                                 <div style="background-color: #ffffff"></div>
                                </div>

                                  @Html.ValidationMessageFor(model => model.COLOR_SYSTEM)
                            </div>
                        </div>

                        <div class="section row mb5">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="submit" value="Salvar" class="col-sm-2 btn btn-success btn-right pull-right" />
                            </div>
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/inputmask")
@Scripts.Render("~/bundles/jqueryUI-datetimepicker")

@section Scripts {

}
