@model IEnumerable<CORE.BackOffice.UI.ViewModels.Funcionario.DocumentoViewModel>

@{
    ViewBag.Title = "Administração - Gestão";
    Layout = null;
}

    <div class="panel panel-visible" id="spy6">
        <div class="panel-body pn">
            <table width="100%" class="table display" id="datatable7" cellspacing="0">
                <thead>
                    <tr class="success">
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdDocumento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Nome)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbody-documento">
                    @foreach (var item in Model)
                    {
                        <tr class="data-id-line-documento-@item.IdDocumento">
                            <td>
                                <a href="javascript:void(0)">@item.IdDocumento</a>
                            </td>
                            <td>
                                @item.Nome
                            </td>
                            <td>
                                <a href="javascript:void(0)" class="btnDownload" data-item-controller="Funcionario" data-item="@item.IdDocumento">Download</a>
                            </td>
                            <td>
                                @if (ViewBag.btnDelete == true)
                                {
                                    <label class="btn-excluir-documento btn btn-danger" data-id-item="@item.IdDocumento">Deletar</label>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="panel-footer p25 pv15">

            <div class="section mn">
                <div class="smart-widget sm-right smr-80">
                    <div class="section mn">
                        <div class="smart-widget sm-right smr-80">
                            <label for="email" class="field prepend-icon">
                                <input type="file" name="files" id="files" class="gui-input valid" multiple />
                            </label>
                            <input type="button" for="email" value="Inserir" class="button btn-primary btdUpload">
                        </div>
                        <!-- end .smart-widget section -->

                    </div>
                </div>
                <!-- end .smart-widget section -->

            </div>
        </div>
    </div>
        
        <script src="~/Scripts/jquery.confirm-2.6.1/jquery.confirm.js"></script>

        <script>

    $(document).ready(function () {

        $('.btnEdit').click(function () {
            ShowViewEdit($(this).attr('data-item'));
        });

        $('.btnDetail').click(function () {
            ShowViewDetail($(this).attr('data-item'));
        });

        $('.btnDownload').click(function () {
            download($(this).attr('data-item'));
        });

        addEventDeleteDocumento()

    });

            function addEventDeleteDocumento()
            {
                $(".btn-excluir-documento").confirm({
                    title: "Excluir Documento",
                    text: "Você deseja excluir este documento?",
                    confirm: function (button) {

                        ExcluirRegistro($(button).attr('data-id-item'));

                    },
                    cancel: function (button) {

                    },
                    confirmButton: "Sim",
                    cancelButton: "Não"
                });
            }

              function upload() {
        var formData = new FormData();
        var totalFiles = document.getElementById("files").files.length;

        for (var i = 0; i < totalFiles; i++) {

            var file = document.getElementById("files").files[i];

            formData.append("files", file);
        }

        formData.append("idFuncionario", $("#IdFuncionario").val());

        $.ajax({
            type: 'post',
            url: '@Url.Action("fileupload")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {


                var i;
                for (i = 0; i < response.Obj.length; i++) {
                    $("#tbody-documento").append('<tr class="data-id-line-documento-' + response.Obj[i].IdDocumento + '"><td><a href="javascript:void(0)">' + response.Obj[i].IdDocumento + '</a></td><td>' + response.Obj[i].Nome +'</td><td><a href="javascript:void(0)" class="btnDownload" data-item-controller="Funcionario" data-item="' + response.Obj[i].IdDocumento + '">Download</a></td><td><label class="btn-excluir-documento btn btn-danger" data-id-item="' + response.Obj[i].IdDocumento + '">Deletar</label></td></tr>');
                }

                $('.btnDownload').click(function () {
                    download($(this).attr('data-item'));
                });

                addEventDeleteDocumento();
                TrataRetornoEManterTela(response);
            },
            error: function (error) {
                showNotification(response.Title, response.Message, 'warning');
            }
        });
    }

    function download(id) {
         window.open("Funcionario/FileDownload?idDocumento=" + id, "_blank")
    }

    function ExcluirRegistro(id) {

        var dataObject = JSON.stringify({'Id': id});

        $.ajax({
            url: '@Url.Action("DeleteDocumento")',
            type: 'POST',
            contentType: 'application/json',
            data: dataObject,
            success: function (response) {

                if (response.Status == 'Success') {
                    $(".data-id-line-documento-" + id).remove();
                    showNotification(response.Title, response.Message, 'success');
                }
                else if (response.Status == 'Warning') {
                    showNotification(response.Title, response.Message, 'warning');
                }
                else if (response.Status == 'Error') {
                    showNotification(response.Title, response.Message, 'danger');
                }
                else {
                    alert("Status de retorno não tratado!");
                }

            },
            error: function (data) {
                alert("Error Submit");
            }
        });

    }


        </script>
