@model CORE.BackOffice.UI.ViewModels.Funcionario.FuncionarioViewModel

@{
    Layout = null;
    ViewBag.Title = "Administração - Cliente";
}

<style>
    .field-validation-error {
        color: red !Important;
    }

    .panel-tabs {
        position: relative !important;
    }
</style>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


<div class="panel">
    <div class="panel-heading">
        <span class="panel-title fa fa-search">
            Criar Funcionário
        </span>
    </div>


    @using (Ajax.BeginForm("Create", "Funcionario", new AjaxOptions { OnBegin = "StartProgress", HttpMethod = "POST", OnSuccess = "TrataRetorno", OnFailure = "TrataRetorno" }))
    {
        <div class="panel-body admin-form theme-info tab-pane">
            <div class="section row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @Html.ValidationSummary(true, string.Empty, new { @class = "alert alert-danger", Id = "errosDefinirMedico", @style = "display: none;" })
                    <div class="alert alert-danger" style="display: none" id="errorMessage">
                    </div>
                    <div>
                        <p class="alert alert-success" style="display: none" id="okMessage"></p>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">


                @*<div class="form-group">


        </div>*@


                <div class="form-group">
                    <div class="section-divider mv10">
                        <span>Dados Pessoais</span>
                    </div>
                </div>


                <div class="form-group">

                    <div class="col-sm-6 col-md-6">
                        @Html.LabelFor(model => model.Nome, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Nome)*@


                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.DtNascimento, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.DtNascimento, new { @class = "form-control dateField" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.DtNascimento)*@


                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NrRG, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.NrRG, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.NrRG)*@


                </div>


                <div class="form-group">

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NrCPF, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.NrCPF, new { @class = "form-control cpfField" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.NrCPF)*@

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.DtEmissaoCPF, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.DtEmissaoCPF, new { @class = "form-control dateField" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.DtEmissaoCPF)*@

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NrCertificadoReservista, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.NrCertificadoReservista, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.NrCertificadoReservista)*@

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NrCTPS, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.NrCTPS, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.NrCTPS)*@

                </div>


                <div class="form-group">


                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.SerieCTPS, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.SerieCTPS, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.SerieCTPS)*@



                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.UfCTPS, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.UfCTPS, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.UfCTPS)*@


                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.DtEmissaoCTPS, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.DtEmissaoCTPS, new { @class = "form-control dateField" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.DtEmissaoCTPS)*@

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NrPisNrPasep, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.NrPisNrPasep, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.NrPisNrPasep)*@

                </div>


                <div class="form-group">
                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NrTituloEleitoral, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.NrTituloEleitoral, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.NrTituloEleitoral)*@


                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NrCNH, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.NrCNH, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.NrCNH)*@

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.DtPrimeiraCNH, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.DtPrimeiraCNH, new { @class = "form-control dateField" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.DtPrimeiraCNH)*@


                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.DtVencimentoCNH, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.DtVencimentoCNH, new { @class = "form-control dateField" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.DtVencimentoCNH)*@
                </div>


                <div class="form-group">
                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.Naturalidade, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.Naturalidade, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Naturalidade)*@


                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.Nacionalidade, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.Nacionalidade, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Nacionalidade)*@

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NomePai, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.NomePai, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.NomePai)*@


                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NomeMae, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.NomeMae, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.NomeMae)*@
                </div>

                <div class="form-group">
                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NomeEstadoCivil, new { @Class = "control-label" })

                        @Html.DropDownListFor(model => model.IdEstadoCivil, Model.EstadoCivil, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.IdCargo, string.Empty, new { @class = "state-error" })*@
                    </div>
                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NomeSexo, new { @Class = "control-label" })

                        @Html.DropDownListFor(model => model.IdSexo, Model.Sexo, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.IdCargo, string.Empty, new { @class = "state-error" })*@
                    </div>
                </div>

                <div class="form-group">

                    <div class="section-divider mv10">
                        <span>Endereço</span>
                    </div>

                    <div class="col-sm-9 col-md-9">
                        @Html.LabelFor(model => model.Logradouro, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.Logradouro, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Logradouro)*@


                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.Numero, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.Numero, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Numero)*@
                </div>

                <div class="form-group">

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.Cep, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.Cep, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Cep)*@

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.Bairro, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.Bairro, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Bairro)*@

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.Cidade, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.Cidade, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Cidade)*@

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NomeEstado, new { @Class = "control-label" })

                        @Html.DropDownListFor(model => model.IdEstado, Model.Estado, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.IdCargo, string.Empty, new { @class = "state-error" })*@
                    </div>

                </div>

                <div class="form-group">

                    <div class="section-divider mv10">
                        <span>Contato</span>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        @Html.LabelFor(model => model.Email, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Email)*@

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NrTelefone, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.NrTelefone, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.NrTelefone)*@



                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NrCelular, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.NrCelular, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.NrCelular)*@


                </div>

                <div class="form-group">

                    <div class="section-divider mv10">
                        <span>Dados Bancário</span>
                    </div>

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.Banco, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.Banco, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Banco)*@

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.Conta, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.Conta, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Conta)*@

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.Agencia, new { @Class = "control-label" })
                        @Html.TextBoxFor(model => model.Agencia, new { @class = "form-control" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Agencia)*@

                    <div class="col-sm-3 col-md-3">
                        @Html.LabelFor(model => model.NomeTipoConta, new { @Class = "control-label" })

                        @Html.DropDownListFor(model => model.IdTipoConta, Model.TipoConta, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.IdCargo, string.Empty, new { @class = "state-error" })*@
                    </div>

                </div>


                @*<div class="form-group">

                    <div class="section-divider mv10">
                        <span>Sexo</span>
                    </div>

                </div>*@

                    <div class="form-group">

                        <div class="section-divider mv10">
                            <span>Dados Profissionais</span>
                        </div>

                        <div class="col-sm-3 col-md-3">
                            @Html.LabelFor(model => model.Matricula, new { @Class = "control-label" })
                            @Html.TextBoxFor(model => model.Matricula, new { @class = "form-control" })
                        </div>
                        @*@Html.ValidationMessageFor(model => model.Matricula)*@

                        <div class="col-sm-3 col-md-3">
                            @Html.LabelFor(model => model.DtAdmissao, new { @Class = "control-label" })
                            @Html.TextBoxFor(model => model.DtAdmissao, new { @class = "form-control dateField" })
                        </div>
                        @*@Html.ValidationMessageFor(model => model.DtAdmissao)*@

                        <div class="col-sm-3 col-md-3">
                            @Html.LabelFor(model => model.DtDemissao, new { @Class = "control-label" })
                            @Html.TextBoxFor(model => model.DtDemissao, new { @class = "form-control dateField" })
                        </div>
                        @*@Html.ValidationMessageFor(model => model.DtDemissao)*@

                        <div class="col-sm-3 col-md-3">
                            @Html.LabelFor(model => model.SalarioBase, new { @Class = "control-label" })
                            @Html.TextBoxFor(model => model.SalarioBase, new { @class = "form-control" })
                        </div>
                        @*@Html.ValidationMessageFor(model => model.SalarioBase)*@

                    </div>
                    <div class="form-group">

                        <div class="col-sm-3 col-md-3">
                            @Html.LabelFor(model => model.NomeLoja, new { @Class = "control-label" })

                            @Html.DropDownListFor(model => model.IdLoja, Model.Loja, new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(model => model.IdLoja, string.Empty, new { @class = "state-error" })*@
                        </div>


                        <div class="col-sm-3 col-md-3">
                            @Html.LabelFor(model => model.NomeCargo, new { @Class = "control-label" })

                            @Html.DropDownListFor(model => model.IdCargo, Model.Cargo, new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(model => model.IdCargo, string.Empty, new { @class = "state-error" })*@
                        </div>



                    </div>
              

                    <div class="col-sm-3 col-md-3">

                        <div class="section-divider mv10">
                            <span>Status</span>
                        </div>

                        <div class="option-group field section">
                            <label class="option block mt10" for="STATUS_USER_ACTIVE">
                                <input name="FL_ACTIVE" id="STATUS_USER_ACTIVE" type="radio" checked="" value="true">
                                <span class="radio"></span>Ativo
                            </label>
                            <label class="option block mt10" for="STATUS_USER_INACTIVE">
                                <input name="FL_ACTIVE" id="STATUS_USER_INACTIVE" type="radio" disabled="" value="false">
                                <span class="radio"></span>Inativo
                            </label>
                        </div>

                </div>
            </div>

            @Html.Partial("~/Views/Shared/_ButtonsModal.cshtml")

        </div>
    }
</div>

@Scripts.Render("~/bundles/inputmask")
@Scripts.Render("~/bundles/jqueryUI-datetimepicker")

<script>

    $(document).ready(function () {

        $.datepicker.setDefaults($.datepicker.regional['pt-BR']);

        $('.dateField').datepicker({
            language: "pt-BR",
            format: 'dd/mm/yyyy',
            autoclose: true,
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            showButtonPanel: false
        });


        $(".hourField").inputmask("99:99", { "clearIncomplete": true });
        $(".dateField").inputmask("99/99/9999", { "clearIncomplete": true });
        $(".cpfField").inputmask("999.999.999-99", { "clearIncomplete": true });

    });


</script>

@section Scripts {

}
