@model CORE.BackOffice.UI.ViewModels.Funcionario.FuncionarioViewModel

@{
    Layout = null;
    ViewBag.Title = "Administração - Cliente";
}

<style>
    .field-validation-error {
        color: red !Important;
    }
</style>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title fa fa-search">
            Criar Cliente
        </span>
    </div>


    @using (Ajax.BeginForm("Create", "Funcionario", new AjaxOptions { OnBegin = "StartProgress", HttpMethod = "POST", OnSuccess = "TrataRetorno", OnFailure = "TrataRetorno" }))
    {
        <div class="panel-body admin-form theme-info tab-pane">
            <div class="section row">
                <div class="col-lg-12 col-md-12 col-ssm-12">
                    @Html.ValidationSummary(true, string.Empty, new { @class = "alert alert-danger", Id = "errosDefinirMedico", @style = "display: none;" })
                    <div class="alert alert-danger" style="display: none" id="errorMessage">
                    </div>
                    <div>
                        <p class="alert alert-success" style="display: none" id="okMessage"></p>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.NAME, new { @Class = "control-label col-sm-1 col-md-1" })
                    <div class="col-sm-5 col-md-5">
                        @Html.TextBoxFor(model => model.NAME, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.NAME)

                    @Html.LabelFor(model => model.DOCUMENT, new { @Class = "control-label col-sm-1 col-md-1" })
                    <div class="col-sm-5 col-md-5">
                        @Html.TextBoxFor(model => model.DOCUMENT, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.DOCUMENT)



                </div>

                <div class="form-group">

                    @*@Html.LabelFor(model => model.BIRTHDAY, new { @Class = "control-label col-sm-1 col-md-1" })
                        <div class="col-sm-5 col-md-5">
                            @Html.TextBoxFor(model => model.BIRTHDAY, new { @class = "form-control dateField" })
                        </div>
                        @Html.ValidationMessageFor(model => model.BIRTHDAY, string.Empty, new { @class = "state-error" })*@

                    @*@Html.LabelFor(model => model.PHONE, new { @Class = "control-label col-sm-1 col-md-1" })
                        <div class="col-sm-5 col-md-5">
                            @Html.TextBoxFor(model => model.PHONE, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.PHONE, string.Empty, new { @class = "state-error" })*@




                </div>

                <div class="form-group">

                    <div class="option-group field section col-sm-6 col-md-6">
                        <label class="option mt10" for="DOCUMENT_F">
                            <input name="DOCUMENT_TYPE" id="DOCUMENT_F" type="radio" @(Model.DOCUMENT_TYPE.Equals("F") ? "checked=''" : "") value="F">
                            <span class="radio"></span>Fisíca
                        </label>
                        <label class="option mt10" for="DOCUMENT_J">
                            <input name="DOCUMENT_TYPE" id="DOCUMENT_J" type="radio" @(!Model.DOCUMENT_TYPE.Equals("J") ? "checked=''" : "") value="J">
                            <span class="radio"></span>Jurídica
                        </label>
                    </div>

                    @Html.LabelFor(model => model.NUMBER_IDENTIFICATION, new { @Class = "control-label col-sm-1 col-md-1 .fieldP" })
                    @Html.LabelFor(model => model.COMPANY_STATE, new { @Class = "control-label col-sm-1 col-md-1 .fieldJ", @style = "Display:none" })
                    <div class="col-sm-5 col-md-5">
                        @Html.TextBoxFor(model => model.NUMBER_IDENTIFICATION, new { @class = "form-control .fieldP" })
                        @Html.TextBoxFor(model => model.COMPANY_STATE, new { @class = "form-control .fieldJ", @style = "Display:none" })
                    </div>
                    @Html.ValidationMessageFor(model => model.NUMBER_IDENTIFICATION, string.Empty, new { @class = "state-error .fieldP" })
                    @Html.ValidationMessageFor(model => model.COMPANY_STATE, string.Empty, new { @class = "state-error .fieldJ", @style = "Display:none" })



                </div>

                <div class="form-group">

                    <div class="col-sm-4 col-md-4">

                        <div class="section-divider mv10">
                            <span>Pessoa</span>
                        </div>

                        <div class="option-group field section">
                            <label class="option block mt10" for="DOCUMENT_F">
                                <input name="DOCUMENT_TYPE" id="DOCUMENT_F" type="radio" @(Model.DOCUMENT_TYPE.Equals("F") ? "checked=''" : "") value="F">
                                <span class="radio"></span>Fisíca
                            </label>
                            @*<label class="option block mt10" for="DOCUMENT_J">
                                <input name="DOCUMENT_TYPE" id="DOCUMENT_J" type="radio" @(!Model.DOCUMENT_TYPE.Equals("J") ? "checked=''" : "") value="J">
                                <span class="radio"></span>Jurídica
                            </label>*@
                        </div>

                    </div>

                    <div class="col-sm-4 col-md-4">

                        <div class="section-divider mv10">
                            <span>Sexo</span>
                        </div>

                        <div class="option-group field section">
                            <label class="option block mt10" for="GENDER_FEMALE">
                                <input name="GENDER" id="GENDER_FEMALE" type="radio" @(Model.GENDER.Equals("F") ? "checked=''" : "") value="F">
                                <span class="radio"></span>Feminino
                            </label>
                            <label class="option block mt10" for="GENDER_MALE">
                                <input name="GENDER" id="GENDER_MALE" type="radio" @(!Model.GENDER.Equals("F") ? "checked=''" : "") value="M">
                                <span class="radio"></span>Masculino
                            </label>
                        </div>

                    </div>

                    <div class="col-sm-4 col-md-4">

                        <div class="section-divider mv10">
                            <span>Status</span>
                        </div>

                        <div class="option-group field section">
                            <label class="option block mt10" for="STATUS_USER_ACTIVE">
                                <input name="FL_ACTIVE" id="STATUS_USER_ACTIVE" type="radio" checked="" value="true">
                                <span class="radio"></span>Ativo
                            </label>
                            <label class="option block mt10" for="STATUS_USER_INACTIVE">
                                <input name="FL_ACTIVE" id="STATUS_USER_INACTIVE" type="radio" disabled="" value="false">
                                <span class="radio"></span>Inativo
                            </label>
                        </div>

                    </div>

                </div>

                @Html.Partial("~/Views/Shared/_ButtonsModal.cshtml")

            </div>
        </div>
    }

</div>


@Scripts.Render("~/bundles/inputmask")
@Scripts.Render("~/bundles/jqueryUI-datetimepicker")

<script>

    $(document).ready(function () {
        $(".hourField").inputmask("99:99", { "clearIncomplete": false });
        $(".dateField").inputmask("99/99/9999", { "clearIncomplete": false });
    });

</script>

@section Scripts {

}
