@model CORE.BackOffice.UI.ViewModels.Funcionario.FuncionarioViewModel

@{
    Layout = null;
    ViewBag.Title = "Administração - Cliente";
}

<style>
    .field-validation-error {
        color: red !Important;
    }
</style>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div class="panel">
    <div class="panel-heading">
        <span class="panel-title fa fa-search">
            Alterar Funcionario
        </span>
    </div>

    <div class="panel-body admin-form theme-success bg-light panel-success tab-pane">
        <div class="section row">
            <div class="col-lg-12 col-md-12 col-ssm-12">
                @Html.ValidationSummary(true, string.Empty, new { @class = "alert alert-danger", Id = "errosDefinirMedico", @style = "display: none;" })
                <div class="alert alert-danger" style="display: none" id="errorMessage">
                </div>
                <div>
                    <p class="alert alert-success" style="display: none" id="okMessage"></p>
                </div>
            </div>
        </div>
        @using (Ajax.BeginForm("Edit", "Funcionario", new AjaxOptions { OnBegin = "StartProgress", HttpMethod = "POST", OnSuccess = "TrataRetorno", OnFailure = "TrataRetorno" }))
        {
            @Html.HiddenFor(model => model.IdFuncionario)
            @Html.HiddenFor(model => model.FimPrimeiroPeriodoExperiencia)
            @Html.HiddenFor(model => model.FimSegundoPeriodoExperiencia)
            @Html.HiddenFor(model => model.FimTerceiroPeriodoExperiencia)
           

            <div class="tab-block mb25">
                <ul class="nav nav-tabs tabs-border tabs-success nav-justified">
                    <li  class="active">
                        <a href="#tab15_3" data-toggle="tab"><i class="fa fa-list-alt text-purple pr5"></i>Dados</a>
                    </li>
                    <li>
                        <a href="#tab15_1" data-toggle="tab"><i class="fa fa-user-plus text-purple pr5"></i>Dependentes</a>
                    </li>
                    <li>
                        <a href="#tab15_2" data-toggle="tab"><i class="fa fa-upload text-purple pr5"></i>Documentos</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab15_1" class="tab-pane">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-12 col-md-12">
                                    <div id="divList2">
                                        @Html.Partial("~/Views/Funcionario/_ListDependente.cshtml", Model.Dependentes)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab15_2" class="tab-pane">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-12 col-md-12">
                                    <div id="divList">
                                        @Html.Partial("~/Views/Funcionario/_ListDocumento.cshtml", Model.Documentos)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab15_3" class="tab-pane active">
                        @*<div class="row">*@
                            <div class="form-group">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-horizontal">



                                        <div class="form-group">

                                            <div class="col-sm-1 col-md-1">
                                                <img src="~/Images/imageNotFound.gif" class="" style="width: 150px" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="section-divider mv10">
                                                <span>Dados Pessoais</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6 col-md-6">
                                                @Html.LabelFor(model => model.Nome, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.DtNascimento, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.DtNascimento, new { @class = "form-control dateField" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.Sexo, new { @Class = "control-label" })
                                                @Html.DropDownListFor(model => model.IdSexo, Model.Sexo, new { @class = "form-control" })
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.NrRG, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.NrRG, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.DtExpedicaoRG, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.DtExpedicaoRG, new { @class = "form-control dateField" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.NrCPF, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.NrCPF, new { @class = "form-control cpfField" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.DtEmissaoCPF, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.DtEmissaoCPF, new { @class = "form-control dateField" })
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.NrCTPS, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.NrCTPS, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.SerieCTPS, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.SerieCTPS, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.UfCTPS, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.UfCTPS, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.DtEmissaoCTPS, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.DtEmissaoCTPS, new { @class = "form-control dateField" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.NrTituloEleitoral, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.NrTituloEleitoral, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.SecaoEleitoral, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.SecaoEleitoral, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.ZonaEleitoral, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.ZonaEleitoral, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.NrCertificadoReservista, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.NrCertificadoReservista, new { @class = "form-control" })
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.NrPisNrPasep, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.NrPisNrPasep, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.Naturalidade, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.Naturalidade, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.Nacionalidade, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.Nacionalidade, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.NomeEstadoCivil, new { @Class = "control-label" })
                                                @Html.DropDownListFor(model => model.IdEstadoCivil, Model.EstadoCivil, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.NrCNH, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.NrCNH, new { @class = "form-control" })
                                            </div>

                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.DtPrimeiraCNH, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.DtPrimeiraCNH, new { @class = "form-control dateField" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.DtVencimentoCNH, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.DtVencimentoCNH, new { @class = "form-control dateField" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.CategoriaHabilitacao, new { @Class = "control-label" })

                                                @Html.DropDownListFor(model => model.IdCategoriaHabilitacao, Model.CategoriaHabilitacao, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-6 col-md-6">
                                                @Html.LabelFor(model => model.NomePai, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.NomePai, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                @Html.LabelFor(model => model.NomeMae, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.NomeMae, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="section-divider mv10">
                                                <span>Endereço</span>
                                            </div>

                                            <div class="col-sm-9 col-md-9">
                                                @Html.LabelFor(model => model.Logradouro, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.Logradouro, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.Numero, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.Numero, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.Cep, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.Cep, new { @class = "form-control codePostalField" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.Bairro, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.Bairro, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.Cidade, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.Cidade, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.NomeEstado, new { @Class = "control-label" })
                                                @Html.DropDownListFor(model => model.IdEstado, Model.Estado, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="section-divider mv10">
                                                <span>Contato</span>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                @Html.LabelFor(model => model.Email, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.NrTelefone, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.NrTelefone, new { @class = "form-control phoneField" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.NrCelular, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.NrCelular, new { @class = "form-control cellPhoneField" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="section-divider mv10">
                                                <span>Dados Bancário</span>
                                            </div>

                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.Banco, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.Banco, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.Conta, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.Conta, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.Agencia, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.Agencia, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.NomeTipoConta, new { @Class = "control-label" })
                                                @Html.DropDownListFor(model => model.IdTipoConta, Model.TipoConta, new { @class = "form-control" })
                                            </div>

                                        </div>


                                        <div class="form-group">

                                            <div class="section-divider mv10">
                                                <span>Dados Profissionais</span>
                                            </div>

                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.Matricula, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.Matricula, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.DtAdmissao, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.DtAdmissao, new { @class = "form-control dateField" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.DtDemissao, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.DtDemissao, new { @class = "form-control dateField" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.SalarioBase, new { @Class = "control-label" })
                                                @Html.TextBoxFor(model => model.SalarioBase, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.NomeLoja, new { @Class = "control-label" })
                                                @Html.DropDownListFor(model => model.IdLoja, Model.Loja, new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                @Html.LabelFor(model => model.NomeCargo, new { @Class = "control-label" })
                                                @Html.DropDownListFor(model => model.IdCargo, Model.Cargo, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-6 pl20 prn">
                                                <div class="section mv15">
                                                    <div class="option-group field">
                                                        <label class="option option-success">
                                                            <input type="checkbox" name="checked" value="checked" checked="">
                                                            <span class="checkbox"></span>PCD
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-3 col-md-3">

                                                <div class="section-divider mv10">
                                                    <span>Status</span>
                                                </div>

                                                <div class="option-group field section">
                                                    <label class="option option-success block mt10" for="USER_ACTIVE">
                                                        <input name="FlActive" id="USER_ACTIVE" type="radio" @(Model.FlActive == true ? "checked=''" : "") value="true">
                                                        <span class="radio"></span>Ativo
                                                    </label>
                                                    <label class="option option-success block mt10" for="USER_INACTIVE">
                                                        <input name="FlActive" id="USER_INACTIVE" type="radio" @(Model.FlActive == false ? "checked=''" : "") value="false">
                                                        <span class="radio"></span>Inativo
                                                    </label>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        @*</div>*@
                    </div>
                </div>
            </div>


           

           

            @Html.Partial("~/Views/Shared/_ButtonsModal.cshtml")

        }

    </div>


</div>

@Scripts.Render("~/bundles/inputmask")
@Scripts.Render("~/bundles/jqueryUI-datetimepicker")

<script>

    $(document).ready(function () {

        $('.btdUpload').click(function () {
            upload();
        });

        $.datepicker.setDefaults($.datepicker.regional['pt-BR']);

        $('.dateField').datepicker({
            language: "pt-BR",
            format: 'dd/mm/yyyy',
            autoclose: true,
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            showButtonPanel: false
        });

        $(".codePostalField").inputmask("99999-999", { "clearIncomplete": true });
        $(".phoneField").inputmask("(99) 9999-9999", { "clearIncomplete": true });
        $(".cellPhoneField").inputmask("(99) 99999-9999", { "clearIncomplete": true });
        $(".hourField").inputmask("99:99", { "clearIncomplete": true });
        $(".dateField").inputmask("99/99/9999", { "clearIncomplete": true });
        $(".cpfField").inputmask("999.999.999-99", { "clearIncomplete": true });

    });

    function upload() {
        var formData = new FormData();
        var totalFiles = document.getElementById("files").files.length;

        for (var i = 0; i < totalFiles; i++) {

            var file = document.getElementById("files").files[i];

            formData.append("files", file);
        }

        formData.append("idFuncionario", '@Model.IdFuncionario');

        $.ajax({
            type: 'post',
            url: '@Url.Action("fileupload")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                

                var i;
                for (i = 0; i < response.Obj.length; i++) {
                    $("#tbody-documento").append('<tr class="data-id-line-user-' + response.Obj[i].IdDocumento + '"><td><a href="javascript:void(0)">' + response.Obj[i].IdDocumento + '</a></td><td>' + response.Obj[i].Nome +'</td><td><a href="javascript:void(0)" class="btnDownload" data-item-controller="Funcionario" data-item="' + response.Obj[i].IdDocumento + '">Download</a></td><td></td></tr>');
                }

                $('.btnDownload').click(function () {
                    download($(this).attr('data-item'));
                });

                TrataRetornoEManterTela(response);
            },
            error: function (error) {
                showNotification(response.Title, response.Message, 'warning');
            }
        });
    }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/validations_pt-br")
}
