@model List<CORE.BackOffice.UI.ViewModels.Funcionario.FuncionarioViewModel>

@{
    Response.ContentType = "application/pdf";
    Response.AddHeader("Content-Disposition", "attachment; filename=receipt.pdf");
}

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().IdFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DtNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NrCPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DtEmissaoCPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NrRG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NrPisNrPasep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NrTituloEleitoral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NrCTPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SerieCTPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UfCTPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NrCertificadoReservista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NrCNH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DtPrimeiraCNH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DtVencimentoCNH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EstadoCivil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Nacionalidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Naturalidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NrTituloEleitoral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NomeCargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NomeLoja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NrCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NrTelefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NomeMae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NomePai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Banco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Agencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Conta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TipoConta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Estado)
            </th>
            <th>
                @Html.Display("Anotacões")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SalarioBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DtAdmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DtDemissao)
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdFuncionario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrCPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtEmissaoCPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrRG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrPisNrPasep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrTituloEleitoral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrCTPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerieCTPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UfCTPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrCertificadoReservista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrCNH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtPrimeiraCNH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtVencimentoCNH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nacionalidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naturalidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrTituloEleitoral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeLoja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrCelular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrTelefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeMae)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomePai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoConta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logradouro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>


        <td>
            @{ string anotacoes = string.Empty; }
            @if (item.Annotation != null)
            {
                foreach (var anotacao in item.Annotation)
                {
                    anotacoes = anotacoes + " " + anotacao.Name + " - " + anotacao.Descricao;
                }
            }
            @Html.Display(anotacoes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalarioBase)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DtAdmissao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtDemissao)
        </td>
    </tr>
        }

    </table>*@
