@model CORE.BackOffice.UI.ViewModels.Funcionario.FuncionarioFilterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administração - Gestão";
}

<style>
    .ui-datepicker {
        z-index: 999999999 !important;
    }
</style>

<script src="~/Scripts/pnotify.js"></script>

<div class="panel-body">
    <div id="divViewSearch" class="admin-form theme-info tab-pane">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title fa fa-search">
                    Funcionário
                </span>
            </div>
            <div class="panel-body  admin-form theme-info tab-pane">
                @using (Html.BeginForm())
                {

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 col-md-2">
                                @Html.LabelFor(model => model.Matricula, new { @Class = "control-label" })
                                @Html.TextBoxFor(model => model.Matricula, new { @class = "form-control" })
                            </div>


                            <div class="col-sm-7 col-md-7">
                                @Html.LabelFor(model => model.Nome, new { @Class = "control-label" })
                                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                            </div>

                            <div class="col-sm-3 col-md-3">
                                @Html.LabelFor(model => model.NrCPF, new { @Class = "control-label" })
                                @Html.TextBoxFor(model => model.NrCPF, new { @class = "form-control cpfField" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="row">
                            <div class="option-group field section">

                                <div class="col-sm-1 col-md-1">
                                    <label class="option block mt10" for="STATUS_USER_ALL">
                                        <input name="FlActive" id="STATUS_USER_ALL" type="radio" @(Model.FlActive == null ? "checked=''" : "") value="null">
                                        <span class="radio"></span>Todos
                                    </label>
                                </div>

                                <div class="col-sm-1 col-md-1">
                                    <label class="option block mt10" for="STATUS_USER_ACTIVE">
                                        <input name="FlActive" id="STATUS_USER_ACTIVE" type="radio" @(Model.FlActive != null && Model.FlActive == true ? "checked=''" : "") value="true">
                                        <span class="radio"></span>Ativo
                                    </label>
                                </div>

                                <div class="col-sm-1 col-md-1">
                                    <label class="option block mt10" for="STATUS_USER_INACTIVE">
                                        <input name="FlActive" id="STATUS_USER_INACTIVE" type="radio" @(Model.FlActive != null && Model.FlActive == false ? "checked=''" : "") value="false">
                                        <span class="radio"></span>Inativo
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        @Html.Partial("~/Views/Shared/_ButtonsSearchCreate.cshtml")
                    </div>
                }
                <div class="row">
                    @*Resultado da pesquisa*@
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <div id="divList">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divViewCreate" class="admin-form theme-info tab-pane" style="display:none">


    </div>

    <div id="divViewEdit" class="admin-form theme-info tab-pane" style="display:none">


    </div>

    <div id="divViewDetail" class="admin-form theme-info tab-pane" style="display:none">


    </div>
</div>



<div class="modal fade" tabindex='-1' data-backdrop="static" data-keyboard="true" id="myModal" role="dialog">
    <div class="modal-dialog" style="width: 800px!important;">
        <div class="modal-content">
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/inputmask")
@Scripts.Render("~/bundles/jqueryUI-datetimepicker")


<script>

    $(document).ready(function () {

        $('#btnSubmit').click(function () {
            Submit();
        });

        $('#btnCreate').click(function () {
            ShowViewCreate();
        });

        $.datepicker.setDefaults($.datepicker.regional['pt-BR']);

        $('.dateField').datepicker({
            language: "pt-BR",
            format: 'dd/mm/yyyy',
            autoclose: true,
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            showButtonPanel: false
        });


        $(".hourField").inputmask("99:99", { "clearIncomplete": true });
        $(".dateField").inputmask("99/99/9999", { "clearIncomplete": true });
        $(".cpfField").inputmask("999.999.999-99", { "clearIncomplete": true });

    });



    function Submit() {

        var dataObject = JSON.stringify({
            'Nome': $("#@Html.IdFor(model => model.Nome)").val(),
            'Matricula': $("#@Html.IdFor(model => model.Matricula)").val(),
            'NrCPF': $("#@Html.IdFor(model => model.NrCPF)").val(),
            @*'DOCUMENT_TYPE': $("input:radio[name=@Html.IdFor(model => model.DOCUMENT_TYPE)]:checked").val(),*@
            'FlActive': $("input:radio[name=@Html.IdFor(model => model.FlActive)]:checked").val()
        });

        $.ajax({
            url: '@Url.Action("Index")',
            type: 'POST',
            contentType: 'application/json',
            data: dataObject,
            success: function (data) {
                $('#divList').html(data);
            },
            error: function (data) {
                alert("Error Submit");
            }
        });

    }

</script>