@model CORE.BackOffice.UI.ViewModels.Page.PageFilterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administração - Gestão";
}

<style>
    .ui-datepicker {
        z-index: 999999999 !important;
    }
</style>


<script src="~/Scripts/pnotify.js"></script>

<div class="panel-body">
    <div id="divViewSearch" class="admin-form theme-info tab-pane">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title fa fa-search">
                    Página
                </span>
            </div>

            <div class="panel-body admin-form theme-info tab-pane">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(model => model.TYPE_EXPORT)

                    <div class="col-lg-12 col-md-12 col-sm-12 filtro-agenda">
                        <div class="form-group">

                            @Html.LabelFor(model => model.NAME_MENU, new { @Class = "control-label col-sm-1 col-md-1" })
                            <div class="col-sm-5 col-md-5">
                                @Html.TextBoxFor(model => model.NAME_MENU, new { @class = "form-control" })
                            </div>

                            @Html.LabelFor(model => model.URL, new { @Class = "control-label col-sm-1 col-md-1" })
                            <div class="col-sm-5 col-md-5">
                                @Html.TextBoxFor(model => model.URL, new { @class = "form-control" })
                            </div>

                        </div>
                        
                    </div>

                    @Html.Partial("~/Views/Shared/_ButtonsSearchCreate.cshtml")

                }

                @*Resultado da pesquisa*@
                <div class="form-group">
                    <div class="col-sm-12 col-md-12">
                        <div id="divList">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="divViewCreate" class="admin-form theme-info tab-pane" style="display:none">


    </div>

    <div id="divViewEdit" class="admin-form theme-info tab-pane" style="display:none">


    </div>

</div>
<div class="modal fade" tabindex='-1' data-backdrop="static" data-keyboard="true" id="myModal" role="dialog">
    <div class="modal-dialog" style="width: 800px!important;">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $('#btnSubmit').click(function () {
            Submit();
        });

        $('#btnCreate').click(function () {
            ShowViewCreateAndFinishSearch();
        });

    });
       
    function Submit() {

        var dataObject = JSON.stringify({
            'NAME_MENU': $("#@Html.IdFor(model => model.NAME_MENU)").val(),
            'URL': $("#@Html.IdFor(model => model.URL)").val()
        });

        $.ajax({
            url: '@Url.Action("Index")',
            type: 'POST',
            contentType: 'application/json',
            data: dataObject,
            success: function (data) {
                $('#divList').html(data);

            },
            error: function (data) {
                alert("Error Submit");
            }
        });

    }

</script>
